<p id="notice"><%= notice %></p>

<h1>jLeague Stadiums</h1>

<div class="col-md-12">
      <div class="col-md-2"><h5>Stadium</h5></div>
      <div class="col-md-2"><h5>City</h5></div>
      <div class="col-md-2"><h5>Team</h5></div>
      <div class="col-md-2"><h5>Location</h5></div>
</div>
<br>
<div class="col-md-12">
    <% @stadia.each do |stadium| %>
        <div class="col-md-2"><%= stadium.stadium %></div>
        <div class="col-md-2"><%= Team.find(stadium.team_id).city %></div>
        <div class="col-md-2"><%= Team.find(stadium.team_id).name %></div>
        <div class="col-md-2"><%= Location.find(stadium.location_id).location %></div>
        <div class="col-md-4"><%= link_to 'Show', stadium %>
        <%= link_to 'Edit', edit_stadium_path(stadium) %>
        <%= link_to 'Destroy', stadium, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
</div>
<br>

<%= link_to 'New Stadium', new_stadium_path %>
