<div class="container">
<h1>jLeague Stadiums</h1>

<table id="jleague_table" class="order-table table">
<input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter">
  <thead>
    <tr>
      <th>Stadium</th>
      <th>City</th>
      <th>Team</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
    <% @stadia.order('stadium').each do |stadium| %>
    <tr>
      <td><%= link_to stadium.stadium, edit_stadium_path(stadium) %></td>
      <td><%= Team.find(stadium.team_id).city %></td>
      <td><%= Team.find(stadium.team_id).name %></td>
      <td><%= Location.find(stadium.location_id).location %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Stadium', new_stadium_path %>
</div>