<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @stadium.location_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @stadium.team_id %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @stadium.stadium %>
</p>

<p>
  <strong>Lfl:</strong>
  <%= @stadium.lfl %>
</p>

<p>
  <strong>Lf:</strong>
  <%= @stadium.lf %>
</p>

<p>
  <strong>Lc:</strong>
  <%= @stadium.lc %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @stadium.cf %>
</p>

<p>
  <strong>Rc:</strong>
  <%= @stadium.rc %>
</p>

<p>
  <strong>Rf:</strong>
  <%= @stadium.rf %>
</p>

<p>
  <strong>Rfl:</strong>
  <%= @stadium.rfl %>
</p>

<%= link_to 'Edit', edit_stadium_path(@stadium) %> |
<%= link_to 'Back', stadia_path %>
