<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id="team_logo" class="col-md-12">
  <% team=@team.logo_url %>
  <%= image_tag("teams/#{team}") %>
</div>

<div class="col-md-4">
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
  <% @stadium = Stadium.order("stadium") %>
    <%= f.label :stadium_id %><br>
    <%= f.select :stadium_id, options_from_collection_for_select(@stadium, 'id', 'stadium', @team.stadium_id) %>
  </div>
  <div class="field">
    <%= f.label :league %><br>
    <%= f.select :league, options_for_select(%w[American National], @team.league) %>
  </div>
  <div class="field">
    <%= f.label "Division" %><br>
    <%= f.select :league_sub, options_for_select(%w[East West], @team.league_sub) %>
  </div>
  <div class="field">
    <%= f.label :logo_url %><br>
    <%= f.text_field :logo_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
