<div class="container">
<h1>jLeague Teams</h1>
<input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter">
<table id="jleague_table" class="order-table table">

<thead>
    <tr>
      <th>Team</th>
      <th>City</th>
      <th>Stadium</th>
      <th>League</th>
      <th>Division</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.order('name').each do |team| %>
    <tr>
      <td><%= link_to team.name, edit_team_path(team) %></td>
      <td><%= team.city %></td>
      <td><%= Stadium.find(team.stadium_id).stadium %></td>
      <td><%= team.league.capitalize %></td>
      <td><%= team.league_sub.capitalize %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Team', new_team_path %>
</div>