<p id="notice"><%= notice %></p>

<p>
  <strong>Stadium:</strong>
  <%= @team.stadium_id %>
</p>

<p>
  <strong>City:</strong>
  <%= @team.city %>
</p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>League:</strong>
  <%= @team.league %>
</p>

<p>
  <strong>Sub League:</strong>
  <%= @team.league_sub %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
