<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @temperature.location_id %>
</p>

<p>
  <strong>Month:</strong>
  <%= @temperature.month %>
</p>

<p>
  <strong>Time:</strong>
  <%= @temperature.time %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @temperature.temp %>
</p>

<p>
  <strong>Min:</strong>
  <%= @temperature.min %>
</p>

<p>
  <strong>Max:</strong>
  <%= @temperature.max %>
</p>

<%= link_to 'Edit', edit_temperature_path(@temperature) %> |
<%= link_to 'Back', temperatures_path %>
