<%= form_for(@sky) do |f| %>
  <% if @sky.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sky.errors.count, "error") %> prohibited this sky from being saved:</h2>

      <ul>
      <% @sky.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.text_field :month %>
  </div>
  <div class="field">
    <%= f.label :sky %><br>
    <%= f.text_field :sky %>
  </div>
  <div class="field">
    <%= f.label :min %><br>
    <%= f.number_field :min %>
  </div>
  <div class="field">
    <%= f.label :max %><br>
    <%= f.number_field :max %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
