<%= form_for(@sky) do |f| %>
  <% if @sky.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sky.errors.count, "error") %> prohibited this sky from being saved:</h2>

      <ul>
      <% @sky.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <% @location = Location.order("location") %>
    <%= f.label :location_id %><br>
    <%= f.select :location_id, options_from_collection_for_select(@location, 'id', 'location', @sky.location_id) %>
  </div>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.select :month, options_for_select(%w[May June July August September October], @sky.month) %>
  </div>
  <div class="field">
    <%= f.label :sky %><br>
    <%= f.select :sky, options_for_select(['Clear', 'Partly Cloudy', 'Cloudy'], @sky.sky) %>
  </div>
  <div class="field">
    <%= f.label :min %><br>
    <%= f.number_field :min %>
  </div>
  <div class="field">
    <%= f.label :max %><br>
    <%= f.number_field :max %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
