<p id="notice"><%= notice %></p>

<p>
  <strong>Player:</strong>
  <%= @defense.player_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @defense.position %>
</p>

<p>
  <strong>Error:</strong>
  <%= @defense.error %>
</p>

<p>
  <strong>Rnge:</strong>
  <%= @defense.rnge %>
</p>

<p>
  <strong>Throw:</strong>
  <%= @defense.throw %>
</p>

<p>
  <strong>Passedball:</strong>
  <%= @defense.passedball %>
</p>

<p>
  <strong>Pickoff:</strong>
  <%= @defense.pickoff %>
</p>

<p>
  <strong>Hold:</strong>
  <%= @defense.hold %>
</p>

<p>
  <strong>Wp:</strong>
  <%= @defense.wp %>
</p>

<p>
  <strong>Balk:</strong>
  <%= @defense.balk %>
</p>

<p>
  <strong>Bfsp:</strong>
  <%= @defense.bfsp %>
</p>

<p>
  <strong>Bfrp:</strong>
  <%= @defense.bfrp %>
</p>

<p>
  <strong>Rest0:</strong>
  <%= @defense.rest0 %>
</p>

<p>
  <strong>Rest1:</strong>
  <%= @defense.rest1 %>
</p>

<p>
  <strong>Rest2:</strong>
  <%= @defense.rest2 %>
</p>

<p>
  <strong>Rest3:</strong>
  <%= @defense.rest3 %>
</p>

<%= link_to 'Edit', edit_defense_path(@defense) %> |
<%= link_to 'Back', defenses_path %>
