<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @lineup.game_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @lineup.team_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @lineup.player_id %>
</p>

<p>
  <strong>Position:</strong>
  <%= @lineup.position %>
</p>

<p>
  <strong>Inning in:</strong>
  <%= @lineup.inning_in %>
</p>

<p>
  <strong>Inning out:</strong>
  <%= @lineup.inning_out %>
</p>

<%= link_to 'Edit', edit_lineup_path(@lineup) %> |
<%= link_to 'Back', lineups_path %>
