<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% @team = Team.order("name") %>
    <%= f.label :home_team %><br>
    <%= f.select :home_team, options_from_collection_for_select(@team, 'id', 'name', @game.home_team) %>
  </div>
  <div class="field">
    <%= f.label :away_team %><br>
    <%= f.select :away_team, options_from_collection_for_select(@team, 'id', 'name', @game.away_team) %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.time_select :time, {minute_step: 15} %>
  </div>

  <%= f.fields_for :lineups do |lineup| %>
      <%= lineup.label :player_id %><%= lineup.text_field :player_id %>
      <%= lineup.label :position %><%= lineup.text_field :position %>
      <%= lineup.label :team_id %><%= lineup.text_field :team_id %>
  <% end %>

  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
