<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-12">
    <div class="col-md-1">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="col-md-1">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="col-md-1">
  <% @team = Team.order("name") %>
    <%= f.label :team_id %><br>
    <%= f.select :team_id, options_from_collection_for_select(@team, 'id', 'name', @player.team_id) %>
  </div>
  <div class="col-md-1">
    <%= f.label :hand %><br>
    <%= f.select :hand, options_for_select(%w[r l], @player.hand) %>
  </div>
  <div class="col-md-1">
    <%= f.label :player_type %><br>
    <%= f.select :player_type, options_for_select(%w[batter pitcher], @player.player_type) %>
  </div>
</div>

<div class="col-md-12">
  <div class="col-md-1">
    <%= f.label :durability %><br>
    <%= f.number_field :durability %>
  </div>
  <div class="col-md-1">
    <%= f.label :dldays %><br>
    <%= f.number_field :dldays %>
  </div>
  <div class="col-md-1">
    <%= f.label :run %><br>
    <%= f.number_field :run %>
  </div>
  <div class="col-md-1">
    <%= f.label :steal %><br>
    <%= f.number_field :steal %>
  </div>
  <div class="col-md-1">
    <%= f.label :jump %><br>
    <%= f.number_field :jump %>
  </div>
  <div class="col-md-1">
    <%= f.label :bat %><br>
    <%= f.text_field :bat %>
  </div>
  <div class="col-md-1">
    <%= f.label :bunt %><br>
    <%= f.text_field :bunt %>
  </div>
  <div class="col-md-1">
    <%= f.label :wild %><br>
    <%= f.text_field :wild %>
  </div>
</div>

<div class="col-md-4">
  <div class="stats col-md-12"><h3>Player Stats</h3>
    <%= f.fields_for :plays do |play| %> 
      <% if play.object.vs_hand == "l" %>
        <div class="stats_left col-md-12"> 
          <div class="stats_table plays_left"><%= play.hidden_field :vs_hand %></div>
          <div class="stats_table plays_left"><%= play.hidden_field :play %></div>
          <div class="stats_table plays_left"><%= play.text_field :field %></div>
          <div class="stats_table plays_left"><%= play.text_field :max %></div>
          <div class="stats_table plays_left"><%= play.text_field :min %></div>
        </div>
        <% else %>
        <div class="stats_right col-md-12"> 
          <div class="stats_table plays_right stats_play"><%= play.text_field :play, readonly: true %></div>
          <div class="stats_table plays_right"><%= play.text_field :field %></div>
          <div class="stats_table plays_right"><%= play.text_field :min %></div>
          <div class="stats_table plays_right"><%= play.text_field :max %></div>
          <div class="stats_table plays_right"><%= play.hidden_field :vs_hand %></div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<div class="col-md-8">
  <div class="offense col-md-12"><h3>Offense</h3>
    <%= f.fields_for :offense do |offense| %>
        <div class="col-md-2 offense_stat"><%= offense.text_field :vs_hand %></div>
        <div class="col-md-2 offense_stat"><%= offense.text_field :ifr %></div>
        <div class="col-md-2 offense_stat"><%= offense.text_field :ofr %></div>
        <div class="col-md-2 offense_stat"><%= offense.text_field :df %></div>
        <div class="col-md-2 offense_stat"><%= offense.text_field :power %></div>
    <% end %>
  </div>

  <div class="col-md-12 defense">
    <div class="batting_defense col-md-12"><h3>Batter Defense</h3>
      <%= f.fields_for :defense do |defense| %>
          <div class="col-md-2 defense_stat"><%= defense.text_field :position %></div>
          <div class="col-md-2 defense_stat"><%= defense.text_field :error %></div>
          <div class="col-md-2 defense_stat"><%= defense.text_field :rnge %></div>
          <div class="col-md-2 defense_stat"><%= defense.text_field :throw %></div>
          <div class="col-md-2 defense_stat"><%= defense.text_field :passedball %></div>
          <div class="col-md-2 defense_stat"><%= defense.text_field :pickoff %></div>
      <% end %>
    </div>

    <div class="pitching_defense col-md-12"><h3>Pitcher Defense</h3>
      <%= f.fields_for :defense do |defense| %>
          <div class="col-md-2 defense_stat"><%= defense.text_field :position %></div>
          <div class="col-md-2 defense_stat"><%= defense.text_field :error %></div>
          <div class="col-md-2 defense_stat"><%= defense.text_field :rnge %></div>
          <div class="col-md-2 defense_stat"><%= defense.text_field :throw %></div>
          <div class="col-md-2 defense_stat"><%= defense.text_field :passedball %></div>
          <div class="col-md-2 defense_stat"><%= defense.text_field :pickoff %></div>
      <% end %>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="actions col-md-4">
    <%= f.submit %>
  </div>
</div>
<% end %>

