<div class="container">

<h1>jLeague Players</h1>

<input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter">
<table id="jleague_table" class="order-table table">
  <thead>
        <th>Name</th>
        <th>Team</th>
        <th>Hand</th>
        <th>Player type</th>
  </thead>
  <tbody>
      <% @players.order('last_name').each do |player| %>
        <tr>
          <td><%= link_to player.last_name.capitalize + ", " + player.first_name.capitalize, edit_player_path(player) %></td>
          <td><%= Team.find(player.team_id).name %></td>
          <td><%= player.hand %></td>
          <td><%= player.player_type %></td>
        </tr>
      <% end %>
  </tbody>
</table>
<%= link_to 'Create New Batter', new_player_path(player_type: "batter") %>
<%= link_to 'Create New Pitcher', new_player_path(player_type: "pitcher") %>
</div>