<%= form_for(@wind) do |f| %>
  <% if @wind.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wind.errors.count, "error") %> prohibited this wind from being saved:</h2>

      <ul>
      <% @wind.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :stadium_id %><br>
    <%= f.number_field :stadium_id %>
  </div>
  <div class="field">
    <%= f.label :month %><br>
    <%= f.text_field :month %>
  </div>
  <div class="field">
    <%= f.label :wind %><br>
    <%= f.text_field :wind %>
  </div>
  <div class="field">
    <%= f.label :min %><br>
    <%= f.number_field :min %>
  </div>
  <div class="field">
    <%= f.label :max %><br>
    <%= f.number_field :max %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
