<p id="notice"><%= notice %></p>

<p>
  <strong>Stadium:</strong>
  <%= @distance.stadium_id %>
</p>

<p>
  <strong>Wind direction:</strong>
  <%= @distance.wind_direction %>
</p>

<p>
  <strong>Lfl:</strong>
  <%= @distance.lfl %>
</p>

<p>
  <strong>Lf:</strong>
  <%= @distance.lf %>
</p>

<p>
  <strong>Lc:</strong>
  <%= @distance.lc %>
</p>

<p>
  <strong>Cf:</strong>
  <%= @distance.cf %>
</p>

<p>
  <strong>Rc:</strong>
  <%= @distance.rc %>
</p>

<p>
  <strong>Rf:</strong>
  <%= @distance.rf %>
</p>

<p>
  <strong>Rfl:</strong>
  <%= @distance.rfl %>
</p>

<%= link_to 'Edit', edit_distance_path(@distance) %> |
<%= link_to 'Back', distances_path %>
