<p id="notice"><%= notice %></p>

<h1>jLeague Locations</h1>

<div class="col-md-12">
      <div class="col-md-3"><h5>Location</h5></div>
</div>
<br>
<div class="col-md-12">
    <% @locations.each do |location| %>
      <tr>
        <div class="col-md-3"><%= location.location %></div>
        <div class="col-md-9"><%= link_to 'Show', location %>
        <%= link_to 'Edit', edit_location_path(location) %>
        <%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>
</div>
<br>

<%= link_to 'Create New Location', new_location_path %>
